<nav class=" navbar-expand-lg nav1 window-scroll" >
  <div class="container nav-container">
    <a class="navbar-brand text-white">C A R C R A Z E
    </a>

    <button class="navbar-toggler nv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">  
              <ul class="navbar-nav gap">
                  <li class="nav-item">
                    <%= link_to "New Article", new_article_path, class: "nav-link"%>
                  </li>
                  <li class="nav-item">
                  <%= link_to "Articles", articles_path, class:"nav-link"%>
                  </li>
                </ul>
        </div>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap">
        <% if user_signed_in? %>
                <li class="nav-item nav-s">
                    <%= current_user.email %>
                </li>
                <li class="nav-item nav-s">
                    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
            <% else %>
                <li class="nav-item nav-s">
                    <%= link_to "Sign Up", new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item nav-s">
                    <%= link_to "Login", new_user_registration_path, class: "nav-link" %>
                </li>
        <% end %>
    </ul>

    </div>
  </div>
</nav>
